<div id="carouselLanches" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container-imagem-carrossel">
                <img src="~/images/carousel11.png" alt="Promoção de Lanche 1">
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-imagem-carrossel">
                <img src="~/images/carousel12.png" alt="Promoção de Lanche 2">
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-imagem-carrossel">
                <img src="~/images/carousel13.png" alt="Promoção de Lanche 3">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLanches" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLanches" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>