@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index" class="btn position-relative cart-button">
        <i class="bi bi-cart-fill"></i>
        <span class="badge rounded-pill bg-danger cart-badge">
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </span>
    </a>
}