<div class="container my-5">
    <div class="row align-items-center">

        <div class="col-md-6 mb-4 mb-md-0">
            <img src="~/images/faleconosco1.jpg" alt="Fale conosco" class="img-fluid rounded shadow-sm" />
        </div>

        <div class="col-md-6">
            <div class="p-4 rounded bg-light">
                <h3>Queremos ouvir o que você tem a dizer</h3>
                <p class="lead">
                    Se você tiver alguma dúvida ou sugestão, fale conosco.
                </p>
                <hr class="my-4">


                <div class="d-flex align-items-center mb-3">
                    <img src="~/images/Envelope-icon24.png" alt="Email" class="me-3" style="width: 24px; height: 24px;" />
                    <h5 class="mb-0"><email endereco="pitslanches@gmail.com" conteudo="Enviar um e-mail"></email></h5>
                </div>


                <div class="d-flex align-items-center mb-3">
                    <img src="~/images/phone-app-icon.png" alt="Telefone" class="me-3" style="width: 24px; height: 24px;" />
                    <h5 class="mb-0">(11) 9874-5566</h5>
                </div>

                <div class="d-flex align-items-center">
                    <img src="~/images/Home-iconred.png" alt="Endereço" class="me-3" style="width: 24px; height: 24px;" />
                    <h5 class="mb-0">Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</h5>
                </div>
            </div>
        </div>

    </div>
</div>