@model LancheListViewModel

<style>
    .lanche-img {
        width: 225px !important;
        height: 225px !important;
        object-fit: cover !important;
    }
</style>

<div>
    <h2>@Model.CategoriaAtual</h2>
</div>

<div class="container">
    <div class="row">

        @foreach (var lanche in Model.Lanches)
        {
          <partial name="_LanchesResumo" for="@lanche"/>
        }
    </div>
</div>